[submodule "lib/swap-vm"]
	path = lib/swap-vm
	url = https://github.com/1inch/swap-vm
[submodule "lib/aqua"]
	path = lib/aqua
	url = https://github.com/1inch/aqua
[submodule "lib/uniswap-hooks"]
	path = lib/uniswap-hooks
	url = https://github.com/openzeppelin/uniswap-hooks
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
